In [1]:
import pandas as pd

In [2]:
d2 = pd.read_csv("POC_Revenue_Opportunities_merged.csv")

In [8]:
d2.head()

,Table Name,Column_Names,Measure Name,Measure Expression,Measure Data Type,Measure Hidden,Page Name,Visual Title,Visual Type
0,Account,"Account, Region, Segment, Account ID, State",None,None,None,None,None,None,None
1,Fact A,"EstimatedCloseDate, Opportunity ID, Sales Stag...",None,None,None,None,None,None,None
2,Fact B,"EstimatedCloseDate, Opportunity ID, Sales Stag...",None,None,None,None,None,None,None
3,Opportunity,"Name, Opportunity ID, Rank, SizeID, Opportunit...",None,None,None,None,None,None,None
4,Partner,"Partner, Partner ID, Partner Driven",None,None,None,None,None,None,None

In [44]:
(d2["Table Name"]

SyntaxError: unexpected EOF while parsing (1089088206.py, line 1)

In [12]:
d2[["Table Name", "Column_Names"]].head(3)

  Table Name                                       Column_Names
0    Account        Account, Region, Segment, Account ID, State
1     Fact A  EstimatedCloseDate, Opportunity ID, Sales Stag...
2     Fact B  EstimatedCloseDate, Opportunity ID, Sales Stag...

In [13]:
#loc, iloc

In [21]:
#1
d2[d2["Table Name"] == "Partner"]

,Table Name,Column_Names,Measure Name,Measure Expression,Measure Data Type,Measure Hidden,Page Name,Visual Title,Visual Type
4,Partner,"Partner, Partner ID, Partner Driven",None,None,None,None,None,None,None

In [26]:
#2
d2[d2["Table Name"].isin(["Partner", "Account", "Fact A"])]

,Table Name,Column_Names,Measure Name,Measure Expression,Measure Data Type,Measure Hidden,Page Name,Visual Title,Visual Type
0,Account,"Account, Region, Segment, Account ID, State",None,None,None,None,None,None,None
1,Fact A,"EstimatedCloseDate, Opportunity ID, Sales Stag...",None,None,None,None,None,None,None
4,Partner,"Partner, Partner ID, Partner Driven",None,None,None,None,None,None,None

In [33]:
d2.loc[d2["Table Name"].isin(["Partner", "Account", "Fact A"]), "Table Name"] = "DUMMY"

In [36]:
d2.iloc[[0,1,4]]

,Table Name,Column_Names,Measure Name,Measure Expression,Measure Data Type,Measure Hidden,Page Name,Visual Title,Visual Type
0,DUMMY,"Account, Region, Segment, Account ID, State",None,None,None,None,None,None,None
1,DUMMY,"EstimatedCloseDate, Opportunity ID, Sales Stag...",None,None,None,None,None,None,None
4,DUMMY,"Partner, Partner ID, Partner Driven",None,None,None,None,None,None,None

In [38]:
d2["Table Name"].values

array(['DUMMY', 'DUMMY', 'Fact B', 'Opportunity', 'DUMMY', 'Product',
       'SalesStage', 'Fact', 'Fact', 'Fact', 'Fact', 'Fact', 'Fact',
       'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None',
       'None', 'None', 'None', 'None', 'None', 'None', 'None', 'None',
       'None', 'None', 'None', 'None', 'None'], dtype=object)