In [5]:
# Welcome to your new notebook
# Type here in the cell editor to add code!
%pip install semantic-link

Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\srnadimp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\srnadimp\anaconda3\lib\site-packages)
ERROR: Ignored the following versions that require a different python version: 0.0.13 Requires-Python >=3.10; 0.0.17 Requires-Python >=3.10; 0.0.18 Requires-Python >=3.10; 0.0.19 Requires-Python >=3.10; 0.3.0 Requires-Python >=3.10; 0.3.1 Requires-Python >=3.10; 0.3.2 Requires-Python >=3.10; 0.3.4 Requires-Python >=3.10; 0.3.5 Requires-Python >=3.10
ERROR: Could not find a version that satisfies the requirement semantic-link (from versions: none)
ERROR: No matching distribution found for semantic-link
WARNING: There was an error checking the latest version of pip.

In [5]:
pip install python-power-bi

Collecting python-power-bi
  Downloading python_power_bi-0.1.2-py3-none-any.whl (29 kB)
Collecting msal (from python-power-bi)
  Downloading msal-1.25.0-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: requests in c:\users\srnadimp\anaconda3\lib\site-packages (from python-power-bi) (2.28.1)
Requirement already satisfied: PyJWT<3,>=1.0.0 in c:\users\srnadimp\anaconda3\lib\site-packages (from PyJWT[crypto]<3,>=1.0.0->msal->python-power-bi) (2.1.0)
Requirement already satisfied: cryptography<44,>=0.6 in c:\users\srnadimp\anaconda3\lib\site-packages (from msal->python-power-bi) (38.0.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\srnadimp\anaconda3\lib\site-packages (from requests->python-power-bi) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\srnadimp\anaconda3\lib\site-packages (from requests->python-power-bi) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\srnadimp\anaconda3\lib\site-packages (from requests->python-power-bi) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\srnadimp\anaconda3\lib\site-packages (from requests->python-power-bi) (2023.7.22)
Requirement already satisfied: cffi>=1.12 in c:\users\srnadimp\anaconda3\lib\site-packages (from cryptography<44,>=0.6->msal->python-power-bi) (1.15.0)
Collecting cryptography<44,>=0.6 (from msal->python-power-bi)
  Downloading cryptography-3.4.8-cp36-abi3-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 4.5 MB/s eta 0:00:00
Requirement already satisfied: pycparser in c:\users\srnadimp\anaconda3\lib\site-packages (from cffi>=1.12->cryptography<44,>=0.6->msal->python-power-bi) (2.21)
Downloading msal-1.25.0-py2.py3-none-any.whl (97 kB)
   ---------------------------------------- 97.7/97.7 kB 5.5 MB/s eta 0:00:00
Installing collected packages: cryptography, msal, python-power-bi
  Attempting uninstall: cryptography
    Found existing installation: cryptography 38.0.4
    Uninstalling cryptography-38.0.4:
      Successfully uninstalled cryptography-38.0.4
Successfully installed cryptography-3.4.8 msal-1.25.0 python-power-bi-0.1.2
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\srnadimp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\srnadimp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python-headless (c:\users\srnadimp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -treamlit (c:\users\srnadimp\anaconda3\lib\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
spyder 5.1.5 requires pyqt5<5.13, which is not installed.
spyder 5.1.5 requires pyqtwebengine<5.13, which is not installed.
pdfminer-six 20221105 requires cryptography>=36.0.0, but you have cryptography 3.4.8 which is incompatible.
pyopenssl 23.0.0 requires cryptography<40,>=38.0.0, but you have cryptography 3.4.8 which is incompatible.
WARNING: There was an error checking the latest version of pip.

In [3]:
import sempy.fabric as fabric

ModuleNotFoundError: No module named 'sempy'

In [5]:
fabric.list_datasets( fabric.get_notebook_workspace_id())

StatementMeta(, 0fb38eaa-12d3-4a39-a97c-46dc0e167cbe, 13, Finished, Available)

                                         Dataset Name  ...          Last Update
0                            AdventureWorks_Lakehouse  ...  0001-01-01 00:00:00
1                                             WH_DEMO  ...  0001-01-01 00:00:00
2                                         mylakehouse  ...  0001-01-01 00:00:00
3                                mylakeshousepractice  ...  0001-01-01 00:00:00
4                          DataflowsStagingLakehouse1  ...  0001-01-01 00:00:00
5                                  kpracticelakehouse  ...  0001-01-01 00:00:00
6                                           Sohan_new  ...  0001-01-01 00:00:00
7                             Sohan_carsales_analysis  ...  0001-01-01 00:00:00
8                 SQL query 1-Sum of CommissionEarned  ...  0001-01-01 00:00:00
9            SQL query 2-SumofCommissionbottom20Sohan  ...  0001-01-01 00:00:00
10     SQL query 4-SUM of total cars sold by car make  ...  0001-01-01 00:00:00
11    SQL query 5-Sum of Total_Car_Model_Sales-Toyota  ...  0001-01-01 00:00:00
12  SQL query 5-Sum of Total_Car_Model_Sales-Chevr...  ...  0001-01-01 00:00:00
13     SQL query 5-Sum of Total_Car_Model_Sales-Honda  ...  0001-01-01 00:00:00
14      SQL query 5-Sum of Total_Car_Model_Sales-Ford  ...  0001-01-01 00:00:00
15    SQL query 5-Sum of Total_Car_Model_Sales-Nissan  ...  0001-01-01 00:00:00
16                    SQL query 7-Date Wise Car Sales  ...  0001-01-01 00:00:00
17                                           BaluDemo  ...  0001-01-01 00:00:00
18                                        Mydashboard  ...  0001-01-01 00:00:00
19                         Sridhar_Ecom_Datawarehouse  ...  0001-01-01 00:00:00
20                            Sridhar_Sales_Lakehouse  ...  0001-01-01 00:00:00
21                             Sridhar_ecom_Lakehouse  ...  0001-01-01 00:00:00
22                              Sridhar_Ecom_pipeline  ...  0001-01-01 00:00:00
23                          DataflowsStagingWarehouse  ...  0001-01-01 00:00:00
24                          Sridhar_Ecom_pipeline (1)  ...  0001-01-01 00:00:00
25                                Sales_KQL_Lakehouse  ...  0001-01-01 00:00:00
26                                    Iman_Lake_house  ...  0001-01-01 00:00:00
27                                     LH_sg_MyLake01  ...  0001-01-01 00:00:00
28                                        DWH_SG_Data  ...  0001-01-01 00:00:00
29                            Suman_Chandra_Lakehouse  ...  0001-01-01 00:00:00
30                      Customer Profitability Sample  ...  0001-01-01 00:00:00

[31 rows x 4 columns]

In [12]:
fabric.list_relationships('b1a740a8-2445-4c9d-a9f6-b24c205c14a4',fabric.get_notebook_workspace_id())

StatementMeta(, 0fb38eaa-12d3-4a39-a97c-46dc0e167cbe, 20, Finished, Available)

NameError: name 'datasetid' is not defined

In [9]:
from sempy.relationships import plot_relationship_metadata
plot_relationship_metadata(fabric.list_relationships('b1a740a8-2445-4c9d-a9f6-b24c205c14a4',fabric.get_notebook_workspace_id()))

StatementMeta(, 0fb38eaa-12d3-4a39-a97c-46dc0e167cbe, 17, Finished, Available)

In [11]:
fabric.read_table('b1a740a8-2445-4c9d-a9f6-b24c205c14a4','Calendar')

StatementMeta(, 0fb38eaa-12d3-4a39-a97c-46dc0e167cbe, 19, Finished, Available)

   YearPeriod  Year Period       Date Month  QtrID Qtr
0      200801  2008     01 2008-01-01   Jan  20081  Q1
1      200802  2008     02 2008-02-01   Feb  20081  Q1
2      200803  2008     03 2008-03-01   Mar  20081  Q1
3      200804  2008     04 2008-04-01   Apr  20082  Q2
4      200805  2008     05 2008-05-01   May  20082  Q2
..        ...   ...    ...        ...   ...    ...  ..
79     201408  2014     08 2014-08-01   Aug  20143  Q3
80     201409  2014     09 2014-09-01   Sep  20143  Q3
81     201410  2014     10 2014-10-01   Oct  20144  Q4
82     201411  2014     11 2014-11-01   Nov  20144  Q4
83     201412  2014     12 2014-12-01   Dec  20144  Q4

[84 rows x 7 columns]

In [13]:
fabric.list_measures('b1a740a8-2445-4c9d-a9f6-b24c205c14a4',fabric.get_notebook_workspace_id())

StatementMeta(, 0fb38eaa-12d3-4a39-a97c-46dc0e167cbe, 21, Finished, Available)

   Table Name  ... Measure Data Type
0        Fact  ...            Double
1        Fact  ...            Double
2        Fact  ...            Double
3        Fact  ...            Double
4        Fact  ...            Double
5        Fact  ...            Double
6        Fact  ...            Double
7        Fact  ...            Double
8        Fact  ...            Double
9        Fact  ...            Double
10       Fact  ...            Double
11       Fact  ...            Double
12       Fact  ...            Double
13       Fact  ...            Double
14       Fact  ...            Double
15       Fact  ...            Double
16       Fact  ...            Double
17       Fact  ...            Double
18       Fact  ...            Double
19       Fact  ...            Double
20       Fact  ...            Double
21       Fact  ...            Double
22       Fact  ...            Double
23       Fact  ...            Double
24       Fact  ...            Double
25       Fact  ...            Double
26       Fact  ...            Double
27       Fact  ...            Double
28       Fact  ...            Double
29       Fact  ...            Double
30       Fact  ...            Double
31       Fact  ...            Double
32       Fact  ...            Double
33       Fact  ...            Double
34       Fact  ...            Double
35       Fact  ...            Double
36       Fact  ...            Double
37       Fact  ...             Int64
38       Fact  ...             Int64
39       Fact  ...            Double
40       Fact  ...            Double
41       Fact  ...            Double
42       Fact  ...            Double
43       Fact  ...            Double

[44 rows x 4 columns]

In [ ]:
fabric.evaluate_measure('b1a740a8-2445-4c9d-a9f6-b24c205c14a4')